.loader {
    border: 6px solid #a5d3ff;
    border-top: 6px solid #76a4ff;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 