.nav {
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #bbb;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    .logo-section {
        width: 50%;
        .link {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            .logo {
                width: 50px;
                height: 50px;
            }
            .name {
                font-family: "Roboto";
                font-size: 20px;
                line-height: 34px;
                font-weight: 700;
                color: #2C3591;
            }
        }
    }
    .account-section {
        width: 50%;
        max-width: 150px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .id {
            width: 100%;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 17px;
            line-height: 31px;
            color: #000;
            position: relative;
            padding: 10px 8px 10px 12px;
            border: 1px solid transparent;
            cursor: pointer;
            &:after {
                content: ">";
                position: absolute;
                top: 8px;
                right: 12px;
                transform: rotate(90deg) scaleY(2.2);
                font-size: 12px;
                font-weight: 400;
                color: #000;
            }
            &:hover {
                border-color: #bbb;
                border-radius: 4px;
            }
            &.active {
                &:after {
                    transform: rotate(270deg) scaleY(2);
                }
            }
        }
    }
    .dropdown {
        width: 100%;
        background: #fff;
        max-width: 170px;
        position: absolute;
        bottom: -58px;
        right: 20px;
        border: 1px solid #bbb;
        border-radius: 4px;
        padding: 8px 10px;
        opacity: 0;
        z-index: -5;
        max-height: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: .3s ease;
        &.active {
            opacity: 1;
            z-index: 5;
            max-height: 500px;
        }
        .option {
            cursor: pointer;
            text-decoration: none;
            width: 100%;
            color: #000;
            font-family: "Inter";
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}